$background-color: #F2E2CE
$foreground-color: #262117
$secondary-color: #BFA393
$emphasis-color: #BF9850
$highlight-color: #BF6A4B
$heading-color: #365956

$break-point: 800px

$max-text-width: 650px
