@use "_base" as *

#menu
  width: 100%
  padding: 1em 0
  z-index: 50
  position: sticky
  top: 0

  a
    text-decoration: none

  #menu-title
    color: $foreground-color
    font-weight: bolder
    font-size: 1.1em

  #menu-toggle-button, #menu-toggle-label
    display: none

  #menu-items
    margin: 0

    li
      display: inline

    a
      margin-left: 1.5em

      &:hover
        text-decoration: underline

div.menu-inner
  max-width: $max-two-col-width
  width: 90%
  height: 100%
  margin: auto
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between

@media (max-width: $breakpoint)
  #menu
    #menu-toggle-label
      display: inline
      cursor: pointer
      float: right

    #menu-items
      display: none
      width: 100%

  input#menu-toggle-button:checked ~ #menu-items
    display: block
    float: none
    margin: 1em 0 0 0
    padding: 0

    li
      display: block
      margin: 1em 0 0 0

      a
        margin: 0
