@use "_base" as *

main.has-toc
  max-width: $max-two-col-width
  display: grid
  grid-template-areas: "title" "toc" "article"

  h1
    grid-area: title

  article
    grid-area: article

  nav.toc
    grid-area: toc
    position: sticky
    top: calc(1.5em * 2 + 1.1em + 1em)
    align-self: start

.toc
  font-size: 11pt
  background-color: white

  h2
    font-size: 1.2em
    cursor: pointer
    vertical-align: middle

    &:before
      content: "▲"
      font-size: 10pt
      display: inline-block
      vertical-align: middle
      width: 2em

  ul
    list-style: none

    li
      margin: 0.2em 0

      &:before
        content: "\2022"
        color: $secondary-color
        display: inline-block
        width: 1em
        margin-left: -1.2em

  a
    text-decoration: none

  a.back-to-top
    margin-left: 1em
    &:after
      content: "↑"
      margin-left: 0.5em

@media (max-width: $breakpoint)
  .toc.user-toggle-toc
    padding-bottom: 2em

    & > h2:before
      transform: translate(-7px, -1px) rotate(180deg)

  .toc:not(.user-toggle-toc)
    & > h2:before
      transform: translate(0, 7px) rotate(90deg)

    & > *:not(:first-child)
      display: none

@media (min-width: $breakpoint)
  main.has-toc
    grid-template-columns: 1fr 250px
    grid-template-areas: "title ." "article toc"
    column-gap: 2em

  .toc
    h2
      opacity: 0.8

    a
      color: $secondary-color

      &:hover, &.active
        color: $highlight-color

  .toc:not(.user-toggle-toc) > h2:before
    transform: translate(-7px, -1px) rotate(180deg)

  .toc.user-toggle-toc
    & > h2:before
      transform: translate(0, 7px) rotate(90deg)

    & > *:not(:first-child)
      display: none
