{# vim: filetype=htmldjango:
#}

{% set has_parent_section = page.components | length > 1 %}
{% if has_parent_section %}
  {% set section_name = page.relative_path | split(pat="/") | first %}
  {% set section = get_section(path=section_name ~ "/_index.md") %}
{% endif %}

<nav class="toc">
  <h2>Table of Contents</h2>
  <ul>
    {% for h1 in page.toc %}
    <li>
      <a href="#{{ h1.id | safe }}">{{ h1.title }}</a>
      {% if h1.children %}
      <ul>
        {% for h2 in h1.children %}
        <li>
          <a href="#{{ h2.id | safe }}">{{ h2.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if has_parent_section %}
  <h3><a href="{{ section.path | safe }}">Also in {{ section_name | capitalize }}</a></h3>
  <ul>
    {% for section_page in section.pages %}
      {% if section_page.path != page.path %}
      <li><a href="{{ section_page.path | safe }}">{{ section_page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  <a href="#" class="back-to-top" onclick="document.documentElement.scrollTop = 0;"> Back to Top</a>
</nav>
