{# vim: filetype=htmldjango: #}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />

    {% block frontmatter %}
      <title>{{ config.title }}</title>
      <meta name="author" content="{{ config.extra.short_title }}" />
      <meta name="description" content="{{ config.description }}" />
    {% endblock frontmatter %}

    <script async src="/elasticlunr.min.js"></script>
    <script async src="/search_index.en.js"></script>
  </head>

  <body>
    {% include "_menu.html" %}

    <div class="content">{% block content %}{% endblock %}</div>

    <footer>
      <div class="footer-inner">
        <span>{{ config.extra.short_title }} &copy; 2023</span>
      </div>
    </footer>

    <script defer src="/js/script.js"></script>
    <script defer src="/js/search.js"></script>
  </body>
</html>
