{# vim: filetype=htmldjango:
#}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/style.css" />

  <title>{{ config.extra.title }}</title>
  <meta name="author" content="{{ config.extra.short_title }}" />
  <meta name="description" content="{{ config.extra.description }}" />
</head>

<body>
  <header id="menu">
    <div class="menu-inner">
      <a id="menu-title" href="/">{{ config.extra.short_title }}</a>
      <input id="menu-toggle-button" type="checkbox" />
      <label id="menu-toggle-label" for="menu-toggle-button">Menu</label>
      <ul id="menu-items">
        <li><a href="/submit">Submission</a></li>
        <li><a href="/data-essay">Data Essay Criteria</a></li>
        <li><a href="/people">Our People</a></li>
        <li><a href="mailto:{{ config.extra.email }}">Email Us</a></li>
      </ul>
    </div>
  </header>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <div class="footer-inner">
      <span>{{ config.extra.short_title }} &copy; 2023</span>
    </div>
  </footer>

  <script defer src="/script.js"></script>
</body>

</html>
