{% extends "base.html" %}

{% block main_class %}data-page{% endblock main_class %}

{% block main %}
  <h1>{{ page.title }}</h1>

  <dl class="metadata">
    {% if page.authors %}
      <dt>Author(s)</dt>
      <dd>{{ page.authors | join(sep=", ") }}</dd>
    {% endif %}
    {% if page.date %}
      <dt>Date</dt>
      <dd>{{ page.date }}</dd>
    {% endif %}
    {% if page.extra.doi %}
      <dt>DOI</dt>
      <dd><a href="https://doi.org/{{ page.extra.doi }}">{{ page.extra.doi }}</a></dd>
    {% endif %}
  </dl>

  <article>{{ page.content | safe }}</article>

  <section id="data-viewer">
    <h2>Data</h2>
    <div id="data-viewer-content">
      Loading data ...
    </div>
  </section>
{% endblock main %}
