{% extends "base.html" %}

{% block main_class %}data-section{% endblock main_class %}

{% block main %}
  <h1>{{ section.title }}</h1>
  {{ section.content | safe }}

  {% for page in section.pages %}
    <a href="{{ page.path | safe }}">
      <h2>{{ page.title }}</h2>
      <h3 class="byline">{{ page.authors | join(sep=", ") }}</h3>
      <p>
        {% if page.description %}
          {{ page.description }}
        {% elif page.summary %}
          {{ page.summary | striptags | safe }}
        {% endif %}
      </p>
    </a>
  {% endfor %}
{% endblock main %}
