{% extends "base.html" %}

{% block metadata %}
  <link rel="stylesheet" href="/data_page.css" />
{% endblock metadata %}

{% block main_class %}data-page{% endblock main_class %}

{% block main %}
  <h1>{{ page.title }}</h1>

  <dl class="metadata">
    {% if page.authors %}
      <dt>Author(s)</dt>
      <dd>{{ page.authors | join(sep=", ") }}</dd>
    {% endif %}
    {% if page.date %}
      <dt>Date</dt>
      <dd>{{ page.date }}</dd>
    {% endif %}
    {% if page.extra.doi %}
      <dt>DOI</dt>
      <dd><a href="https://doi.org/{{ page.extra.doi }}">{{ page.extra.doi }}</a></dd>
    {% endif %}
  </dl>

  <article>{{ page.content | safe }}</article>

  <section id="dataview">
    <h2>Data</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Filename</th>
          <th scope="col">Description</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
      <tbody id="dataview-body">
        <tr>
          <td>Loading data ...</td>
        </tr>
      </tbody>
    </table>
    <p>Also available at <a href="{{ page.extra.pdc_url | safe }}">Princeton Data Commons</a>.</p>
  </section>

  <script>
    const PDC_URL = "{{ page.extra.pdc_url | safe }}";
  </script>
  <script defer src="/js/dataview.js"></script>
{% endblock main %}
