{% extends "base.html" %}

{% block main_pre %}
  <div id="hero">
    {% set cover = resize_image(path="cover.jpg", width=1600, op="fit_width") %}
    <img src="{{ cover.url }}" alt="Cover image" />
    <section>
      <h1>{{ config.title }}</h1>
      <p>
        {{ config.description }}
      </p>
      <div>
        <a class="criteria" href="/criteria">Criteria</a>
        <a class="submit" href="/submit">Submit</a>
      </div>
    </section>
  </div>
{% endblock main_pre %}

{% block main %}
  {{ section.content | safe }}
{% endblock main %}
